@font-face {
    font-family: 'TCHICCCBOI';
    src: url(../font/THICCCBOI-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'TCHICCCBOI';
    src: url(../font/THICCCBOI-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}