:root {
    --font-family: "THICCCBOI", sans-serif;

    --primary-color: #f15a29;
    --secondary-color1: #e6440f;
    --secondary-color2: #fef4f1;

    --neutral-800: #070707;
    --neutral-700: #303030;
    --neutral-600: #5a5a5a;
    --neutral-500: #838383;
    --neutral-400: #acacac;
    --neutral-300: #d6d6d6;
    --neutral-200: #f3f3f3;
    --neutral-100: #ffffff;

    --heading-h1: 700 90px/1.16 var(--font-family);
    --heading-h2: 700 4.375rem/125% var(--font-family);
    --heading-h3: 700 3.125rem/125% var(--font-family);
    --heading-h4: 700 2rem/125% var(--font-family);
    --heading-h5: 700 1.75rem/125% var(--font-family);
    --heading-h6: 700 1.5rem/125% var(--font-family);

    --paragraph-large: 400 1.5rem/150% var(--font-family);
    --paragraph-default: 400 1.125rem/150% var(--font-family);
    --paragraph-small: 400 0.875rem/150% var(--font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family);
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 6.25rem; /* padding 2rem 6.25rem */
}

h1 { font: var(--heading-h1); }
h2 { font: var(--heading-h2); }
h3 { font: var(--heading-h3); }
h4 { font: var(--heading-h4); }
h5 { font: var(--heading-h5); }
h6 { font: var(--heading-h6); }

/* Media queries corrigidas - mobile first approach */
@media (max-width: 425px) {
    .container {
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 850px) {
    .container {
        padding: 1.5rem 2.25rem;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 3.125rem;
    }
}
