# Auto detect text files and perform LF normalization
* text=auto

[user]
    name = João Vitor Prado
    email = joaopradovitor99@gmail.com

[core]
    editor = code --wait
    autocrlf = input
    filemode = false
    safecrlf = true

[merge]
    conflictstyle = diff3

[diff]
    tool = vscode

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short

[push]
    default = simple

[fetch]
    prune = true

[rebase]
    autoStash = true

[gc]
    auto = 256
    writeCommitGraph = true
    pruneExpire = now

[safe]
    directory = *
